openapi: 3.1.0
info:
  title: Sentinel Executive Desk Read-Only Status API
  version: 1.0.0
  description: >-
    Governed, read-only validation contract for The Executive Desk. This GPT
    Action schema exposes public runtime health and authenticated Sentinel AI
    connection status only. It does not authorize command execution, scanning,
    mutation, Control 8 promotion, or any additional backend capability.
servers:
  - url: https://api.nunncorporation.com
    description: Established Executive Desk production API hostname.
paths:
  /proxy/command:
    post:
      operationId: executeGovernedReadOnlyCommand
      summary: Execute a governed read-only diagnostic command
      description: >-
        Preserves the existing governed repo.control.workflow.diagnose route.
        Requests continue through the backend authority check, risk gate, and
        receipt flow. This schema does not add commands or mutation capability.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - tenant
                - command
                - payload
              properties:
                tenant:
                  type: string
                  enum:
                    - nunncloud
                command:
                  type: string
                  enum:
                    - repo.control.workflow.diagnose
                payload:
                  type: object
                  additionalProperties: true
                  required:
                    - principalId
                  properties:
                    principalId:
                      type: string
                    repository:
                      type: string
                    workflowName:
                      type: string
                    runId:
                      type: string
                    context:
                      type: object
                      additionalProperties: true
      responses:
        "200":
          description: Governed command decision and receipt
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Invalid request schema
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authority check failed or risk gate blocked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /health:
    get:
      operationId: getProxyHealth
      summary: Check Sentinel public runtime health
      description: >-
        Performs a non-destructive health check. A successful response verifies
        runtime reachability only and does not prove downstream capability or
        authorize mutation.
      security: []
      responses:
        "200":
          description: Runtime health response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        default:
          description: Unexpected health check response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/executive/sentinel-ai/status:
    get:
      operationId: getProxyStatus
      summary: Check hosted Sentinel AI connection status
      description: >-
        Returns the current hosted Sentinel AI connection posture through the
        existing read-only Executive Desk route. The backend continues to
        require bearer authentication and a resolvable principal. GPT Actions
        does not forward explicit principal parameters, so the production gateway
        must derive and inject the principal from authenticated identity before
        this operation can be considered operational. That gateway mapping is
        an unresolved security decision and is not defined by this schema.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Sentinel AI connection status and hardening guidance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProxyStatusResponse"
        "401":
          description: Authentication or principal resolution failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: The authenticated principal lacks required authorization
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: Unexpected status response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/executive/sentinel-ai/scan:
    post:
      operationId: scanSentinelAiCourse
      summary: Synthesize the Sentinel AI hardening course
      description: >-
        Preserves the existing scan route definition. Its presence does not
        authorize execution, approve an Infrastructure.Manage decision, expand
        its capability, or change the held Control 8 state.
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                focus:
                  type: string
                  description: Optional scan focus label.
      responses:
        "200":
          description: Existing Sentinel AI scan output and recommended course
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProxyStatusResponse"
        "401":
          description: Authentication or principal resolution failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: The authenticated principal lacks required authorization
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: Unexpected scan response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  schemas:
    HealthResponse:
      type: object
      additionalProperties: false
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          example: ok
        timestamp:
          type: string
          format: date-time
    ProxyStatusResponse:
      type: object
      additionalProperties: true
      properties:
        data:
          type: object
          additionalProperties: true
          properties:
            generatedAt:
              type: string
              format: date-time
            currentPosture:
              type: string
            remote:
              type: object
              additionalProperties: true
              properties:
                configured:
                  type: boolean
                reachable:
                  type: boolean
                healthUrl:
                  type:
                    - string
                    - "null"
                scanUrl:
                  type:
                    - string
                    - "null"
                statusCode:
                  type:
                    - integer
                    - "null"
                payload: {}
                error:
                  type:
                    - string
                    - "null"
            reasoningLens:
              type: object
              additionalProperties: true
            efficiencyPlan:
              type: object
              additionalProperties: true
            readyToGo:
              type: array
              items:
                type: string
            focusAreas:
              type: array
              items:
                type: string
            hardeningPaths:
              type: array
              items:
                type: string
            recommendedCourse:
              type: array
              items:
                type: string
    ErrorResponse:
      type: object
      additionalProperties: true
      properties:
        error:
          type: string
        details:
          type: string
        code:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        Existing bearer-token authentication for protected Executive Desk API
        routes. Credentials and principal identity mapping are configured
        outside this schema and must not be invented here.
